* {
  margin: 0;
  padding: 0;
  box-sizing: box-border;
  scroll-behavior: smooth;
}

.intro {
  text-align: center;
}

h1 { 
  margin-bottom: 5px;
  font-size: 2.5rem;
  font-family: 'Satisfy', cursive;
}

p.introTxt {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-family: 'Satisfy', cursive;
}

.game-wrapper {
  background-color: rgb(244, 193, 244);
  height: 100%;
  width: 100%;
}

text {
  fill: blue;
  font-size: 30px;
  text-transform: uppercase;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100px;
  cursor: pointer;
  margin: auto;
  padding: 1em;
}

.btn:hover{
  background-color: rgb(152, 152, 237);
}

#inputTxt {
  /* display: block; */
  width: 25%;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  padding: 0.5em;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 3em;
}

#inputTxt:focus {
  outline: none;
  border-color:coral;
}

.gameColor {
  fill: rgb(246, 9, 9);
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.roll {
  animation: roll 0.3s linear 2;
  /* animation-duration: 10s; */
  /* animation-fill-mode: forwards; */
  transform-origin: center;
}

svg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}