text {
  fill: blue;
  font-size: 30px;
}

.btn {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  height: 50px;
  width: 100px;
  /* margin: auto; */
}

#insideText {
  display: block;
  width: 25%;
  height: 40px;
  text-align: center;
  margin: 30px 0 20px 0;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  padding: 10px;
  font-size: 20px;
}

#insideText:focus {
  outline: none;
  border-color:coral;
}