#container {
   display: grid;
   
   border: 2px solid green;
   box-sizing: border-box;
}

text {
  fill: blue;
  font-size: 30px;
  text-transform: uppercase;
}

.btn {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  height: 50px;
  width: 100px;
  cursor: pointer;
  /* margin: auto; */
}

#inputTxt {
  display: block;
  width: 25%;
  height: 40px;
  text-align: center;
  margin: 30px 0 20px 0;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  padding: 10px;
  font-size: 20px;
}

#inputTxt:focus {
  outline: none;
  border-color:coral;
}

.gameColor {
  fill: rgb(246, 9, 9);
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.roll {
  animation: roll 2s linear 1;
  /* animation-duration: 10s; */
  /* animation-fill-mode: forwards; */
  transform-origin: center;
}